old/node.txt
[{"id":"9ed73109.7f681","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fed5cc83.fd7fa8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"66678b9f.33536c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ef4eabff.a1a2e","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"customTheme":{"name":"dashboard","default":"#4B7930","baseColor":"#4B7930","baseFont":"Arial,Arial,Helvetica,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#ecf0ed","edited":true},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":49,"sy":47,"gx":0,"gy":0,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"ece5c6b9.3de71","type":"ui_group","name":"Group 2","tab":"55752eae.814fc","order":2,"disp":true,"width":6},{"id":"55752eae.814fc","type":"ui_tab","z":"","name":"CFF","icon":"dashboard","order":2},{"id":"2f104ad4.64eec6","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"3596b837.7060c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"3de34cae.047264","type":"ui_tab","z":"","name":"main","icon":"dashboard","order":1},{"id":"5d5fd98c.d41ad","type":"ui_group","z":"","name":"Time","tab":"3de34cae.047264","order":1,"disp":false,"width":"16","collapse":false},{"id":"e49662be.71c618","type":"inject","z":"9ed73109.7f681","name":"+1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":357,"y":455,"wires":[[]]},{"id":"14b95f20.a6ed09","type":"ui_ui_control","z":"9ed73109.7f681","name":"","x":721,"y":453,"wires":[[]]},{"id":"218c30ea.ccc14","type":"inject","z":"fed5cc83.fd7fa8","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":147,"y":243,"wires":[["e8434f60.5d404","3c6dd202.d035b6"]]},{"id":"e8434f60.5d404","type":"http request","z":"fed5cc83.fd7fa8","name":"CFF","method":"GET","ret":"txt","url":"http://transport.opendata.ch/v1/connections?from=Cully&to=Lausanne","tls":"","x":439.5,"y":250,"wires":[["2eafe796.5b7a08"]]},{"id":"2eafe796.5b7a08","type":"json","z":"fed5cc83.fd7fa8","name":"","property":"payload","action":"","pretty":false,"x":715,"y":247,"wires":[["6af0ccb.72f7d34"]]},{"id":"6af0ccb.72f7d34","type":"function","z":"fed5cc83.fd7fa8","name":"","func":"var connections = msg.payload.connections;\n\nvar out = [];\n\n\nfor (i = 0; i < connections.length; i++) {\n    var res = connections[i].from.departure;\n    res = res.split(\"T\");\n    res = res[1].split(\"+\");\n    out[i] = res[0];\n} \n\nvar msg1 = { payload:out[0]};\nvar msg2 = { payload:out[1]};\nvar msg3 = { payload:out[2]};\n\nreturn [msg1, msg2, msg3];\n\n","outputs":3,"noerr":0,"x":926,"y":247,"wires":[["8c77642f.a85c"],["1c848e95.875bd1"],["b94f3036.238c7"]]},{"id":"8c77642f.a85c","type":"ui_text","z":"fed5cc83.fd7fa8","group":"ece5c6b9.3de71","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1351,"y":178,"wires":[]},{"id":"1c848e95.875bd1","type":"ui_text","z":"fed5cc83.fd7fa8","group":"ece5c6b9.3de71","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1337,"y":235,"wires":[]},{"id":"b94f3036.238c7","type":"ui_text","z":"fed5cc83.fd7fa8","group":"ece5c6b9.3de71","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1335,"y":312,"wires":[]},{"id":"e4b97a81.7f6f","type":"http request","z":"fed5cc83.fd7fa8","name":"Météo","method":"GET","ret":"obj","url":"https://www.prevision-meteo.ch/services/json/lutry","tls":"","x":411,"y":354,"wires":[["ff8528d7.4d98f"]]},{"id":"ff8528d7.4d98f","type":"json","z":"fed5cc83.fd7fa8","name":"","property":"weather","action":"","pretty":false,"x":553,"y":361,"wires":[["d15ad60b.2e3bd"]]},{"id":"2e2d25e8.955372","type":"inject","z":"fed5cc83.fd7fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":122,"y":96,"wires":[["4937518e.0ab93"]]},{"id":"4937518e.0ab93","type":"moment","z":"fed5cc83.fd7fa8","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"EU_FR","output":"time","outputType":"msg","outTz":"Europe/Paris","x":379,"y":98,"wires":[["89a128a9.f51f88"]]},{"id":"28685762.cc9b48","type":"debug","z":"9ed73109.7f681","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":899,"y":192,"wires":[]},{"id":"cdb80119.d2a5f8","type":"function","z":"9ed73109.7f681","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":703,"y":192,"wires":[["28685762.cc9b48"]]},{"id":"3d6c211.cc6cc5e","type":"inject","z":"9ed73109.7f681","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":307,"y":192,"wires":[["cdb80119.d2a5f8"]]},{"id":"2f2018d1.86a118","type":"ui_template","z":"fed5cc83.fd7fa8","group":"5d5fd98c.d41ad","name":"","order":0,"width":"16","height":"10","format":"<style type=\"text/css\">\n *{color: rgb(10,176,70)}\n body {\n    background-color: black;\n    color: rgb(10,176,70)}\n#main {width: 750px; \n    height:100px;\n    vertical-align:middle;\n}\n#top {width:100%;\n    height:180px;\n}\n#time {width: 390px; float:left; font-size:160px;\n    height:100%;\n}\n\n#top-right {float:left; font-size:100px; vertical-align:middle;\n    height:100px;\n    padding-top:50px;\n    padding-left:30px;\n}\n\n#date {font-size:50px;}\n\n#weather { height:250px;\nmargin-top:0px;\nfont-size:60px;\n\n}\n\nli{ margin-top:-30px;\n}\n\nul { list-style-type:none;\n}\n\ndiv.weather-hours { float:left;\n}\n</style>\n\n<link href=\"weather-icons/css/weather-icons.css\" rel=\"stylesheet\">\n    \n\n<div id=\"main\" >\n    <div id=\"top\">\n        <div id=\"time\">\n            <div>{{msg.time}}</div> \n        </div>\n        <div id=\"top-right\">\n            <i>{{msg.weather.tmp}}<i class=\"wi wi-celsius\"></i></i>\n            <i>{{msg.weather.humidity}}<i style=\"font-size:50px\" class=\"wi wi-humidity\"> </i></i>\n         </div>\n        <div style=\"clear: both\" ></div>\n    </div>\n\n    <div id=\"weather\">\n        <div class=\"weather-hours\">\n             <ul>\n                <li><i class=\"{{msg.weather.icon[1]}}\"></i></li>\n                <li><img src=\"{{msg.weather.forecast[1].ICON}}\" height=\"80px\" ></li>\n                <li><i>{{msg.weather.forecast[1].TMP2m}}<i class=\"wi wi-celsius\"></i></i></li>\n                \n            </ul> \n        </div>\n        <div class=\"weather-hours\">\n             <ul>\n                <li><i class=\"{{msg.weather.icon[2]}}\"></i></li>\n                <li><img src=\"{{msg.weather.forecast[2].ICON}}\" height=\"80px\" ></li>\n                <li><i>{{msg.weather.forecast[2].TMP2m}}<i class=\"wi wi-celsius\"></i></i></li>\n                \n            </ul> \n        </div>\n        <div class=\"weather-hours\">\n             <ul>\n                <li><i class=\"{{msg.weather.icon[3]}}\"></i></li>\n                <li><img src=\"{{msg.weather.forecast[3].ICON}}\" height=\"80px\" ></li>\n                <li><i>{{msg.weather.forecast[3].TMP2m}}<i class=\"wi wi-celsius\"></i></i></li>\n            </ul> \n        </div>\n        <div class=\"weather-hours\">\n             <ul>\n                <li><i class=\"{{msg.weather.icon[4]}}\"></i></li>\n                <li><img src=\"{{msg.weather.forecast[4].ICON}}\" height=\"80px\" ></li>\n                <li><i>{{msg.weather.forecast[4].TMP2m}}<i class=\"wi wi-celsius\"></i></i></li>\n            </ul> \n        </div>\n        <div style=\"clear: both\" ></div>\n    </div>\n\n</div>\n\n\n\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":936,"y":103,"wires":[[]]},{"id":"920cd6cf.d1648","type":"function","z":"fed5cc83.fd7fa8","name":"Write weather variable","func":"var weatherdata={};\nvar hour=msg.time;\n\nweatherdata.tmp = msg.payload.current_condition.tmp;\nweatherdata.humidity = msg.payload.current_condition.humidity;\nweatherdata.wnd_spd = msg.payload.current_condition.wnd_spd;\n\nweatherdata.day=msg.payload.fcst_day_0.day_long;\nweatherdata.date=msg.payload.fcst_day_0.date;\n\nweatherdata.pressure=msg.payload.current_condition.pressure;\n\nweatherdata.forecast=msg.next_forecast;\nweatherdata.icon=msg.icon;\nglobal.set(\"weather\", weatherdata);\nmsg.weather=weatherdata;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1046,"y":361,"wires":[["4b25926c.992e5c"]]},{"id":"89a128a9.f51f88","type":"function","z":"fed5cc83.fd7fa8","name":"Get all variables","func":"msg.weather = global.get(\"weather\");\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":673,"y":98,"wires":[["2f2018d1.86a118"]]},{"id":"3c6dd202.d035b6","type":"moment","z":"fed5cc83.fd7fa8","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH","locale":"EU_FR","output":"time","outputType":"msg","outTz":"Europe/Paris","x":210,"y":356,"wires":[["e4b97a81.7f6f"]]},{"id":"d15ad60b.2e3bd","type":"function","z":"fed5cc83.fd7fa8","name":"Create next forecast time","func":"var next_forecast= {};\nvar time=parseInt(msg.time);\nvar icon={};\nvar classIcon=\"wi wi-time-\";\nvar i;\nvar tmp;\nvar hour = 0;\nvar next_day =0;\nvar day_0=msg.payload.fcst_day_0.hourly_data;\nvar day_1=msg.payload.fcst_day_1.hourly_data;\nfor (i = time; i < 24; i++) {\n    tmp = i.toString().concat(\"H00\");\n    if (i>12){\n        icon[hour]=classIcon.concat((i-12).toString());\n    } else {\n        icon[hour]=classIcon.concat(i.toString());\n    }\n    next_forecast[hour]=day_0[tmp];\n    hour++;\n}\nfor (i = 0; i < 24; i++) {\n    tmp = i.toString().concat(\"H00\");\n    if (i>12){\n        icon[hour]=classIcon.concat((i-12).toString());\n    } else {\n        icon[hour]=classIcon.concat(i.toString());\n    }\n    next_forecast[hour]=day_1[tmp];\n    hour++;\n}\n    \nmsg.next_forecast=next_forecast;\nmsg.icon=icon;\nreturn msg;","outputs":1,"noerr":0,"x":767,"y":361,"wires":[["920cd6cf.d1648"]]},{"id":"eb24c3a.7a3024","type":"debug","z":"66678b9f.33536c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":638,"y":638,"wires":[]},{"id":"ee0ce142.c9fae8","type":"bigtimer","z":"66678b9f.33536c","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"Screen timer night","lat":"48","lon":"-1","starttime":"390","endtime":"1365","startoff":0,"endoff":0,"offs":"0","outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":416,"y":256.5,"wires":[["cbe0bfe.658d14"],[],[]]},{"id":"5ee44635.97143","type":"bigtimer","z":"66678b9f.33536c","outtopic":"","outpayload1":"OFF","outpayload2":"00","name":"Big Timer","lat":"48","lon":"-1","starttime":"525","endtime":"960","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":381,"y":663.5,"wires":[[],[],[]]},{"id":"cbe0bfe.658d14","type":"switch","z":"66678b9f.33536c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":4,"x":696,"y":326,"wires":[["18d4dde7.aa8b2a"],["18d4dde7.aa8b2a"],["22bedfa1.5ab7b8"],["22bedfa1.5ab7b8"]]},{"id":"c9f195c1.6223c","type":"ping","z":"66678b9f.33536c","name":"","host":"192.168.0.24","timer":"10","x":393,"y":351,"wires":[["cbe0bfe.658d14"]]},{"id":"8ba632d8.6f611","type":"exec","z":"66678b9f.33536c","command":"echo 0 | sudo tee /sys/class/backlight/rpi_backlight/bl_power","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Switch ON screen","x":1424,"y":310.5,"wires":[[],[],[]]},{"id":"151ad42b.46008c","type":"exec","z":"66678b9f.33536c","command":"echo 1 | sudo tee /sys/class/backlight/rpi_backlight/bl_power","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Switch OFF screen","x":1422,"y":401,"wires":[[],[],[]]},{"id":"c9c11eb8.828d18","type":"ping","z":"66678b9f.33536c","name":"","host":"192.168.0.22","timer":"30","x":391,"y":412,"wires":[["cbe0bfe.658d14"]]},{"id":"cff5ff3f.cf06d","type":"delay","z":"66678b9f.33536c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1207,"y":402,"wires":[["151ad42b.46008c"]]},{"id":"98d38ffa.fb8558","type":"inject","z":"66678b9f.33536c","name":"Initialisation","topic":"ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":486,"y":47,"wires":[["af0c528f.2ad918"]]},{"id":"af0c528f.2ad918","type":"function","z":"66678b9f.33536c","name":"","func":"flow.set(\"screenState\", \"ON\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":51,"wires":[["8ba632d8.6f611"]]},{"id":"18d4dde7.aa8b2a","type":"function","z":"66678b9f.33536c","name":"Send only when is OFF","func":"screen=flow.get('screenState');\nif (screen===\"OFF\"){\n    flow.set(\"screenState\", \"ON\");\n    msg.reset=\" \";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":955,"y":294,"wires":[["8ba632d8.6f611","cff5ff3f.cf06d"]]},{"id":"22bedfa1.5ab7b8","type":"function","z":"66678b9f.33536c","name":"Send only when is ON","func":"screen=flow.get('screenState');\n\nif (screen===\"ON\"){\n    flow.set(\"screenState\", \"OFF\");\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":945,"y":399,"wires":[["cff5ff3f.cf06d"]]},{"id":"4b25926c.992e5c","type":"debug","z":"fed5cc83.fd7fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":465,"wires":[]}]