old/node2.txt
[{"id":"9bbc4298.a8a818","type":"tab","label":"Screen","disabled":false,"info":""},{"id":"56b3e07b.795c68","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"f51f407e.a54408","type":"tab","label":"Initialisation","disabled":false,"info":""},{"id":"86cb8c24.96fd2","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"6d2129d1.c47218","type":"tab","label":"Message","disabled":false,"info":""},{"id":"fc7751e1.ba7428","type":"tab","label":"Paper","disabled":false,"info":""},{"id":"547669f4.0c7d8","type":"mongodb3","z":"","uri":"mongodb://127.0.0.1:27017","name":"","options":"","parallelism":"-1"},{"id":"40899bfc.a6c0ac","type":"mongodb3","z":"","uri":"","name":"","options":"","parallelism":"-1"},{"id":"b859a838.531ee8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017","name":"local","options":"","parallelism":"-1"},{"id":"20cc8548.e5d16a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"home","name":""},{"id":"d23a167.b5093e8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ba26ca4.ff7ec4","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":1},{"id":"5efdb75d.786cd8","type":"ui_group","z":"","name":"Group 1","tab":"4ba26ca4.ff7ec4","order":1,"disp":false,"width":"6","collapse":false},{"id":"3a79b0d.2de7f5","type":"ui_group","z":"","name":"Group 1","tab":"7e6b5ac7.71f1d4","order":1,"disp":false,"width":"6","collapse":false},{"id":"f4c7671.9a37898","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"dfa2b4c1.3b8bf","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"sensor db","usetls":false,"tls":""},{"id":"52fe8aba.148c9c","type":"mqtt-broker","z":"","name":"sensor","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e6b5ac7.71f1d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4fc6710b.ebad78","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"messages","tz":""},{"id":"d8134b7.ca98c38","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"43a208fe.e48858","type":"ui_group","z":"","name":"Thermostat demo","tab":"df8ca489.0d7cf","order":2,"disp":true,"width":"6"},{"id":"9d9291b0.c240a8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"df8ca489.0d7cf","type":"ui_tab","z":"","name":"Test stuff","icon":"dashboard"},{"id":"3eb453b7.c5aa64","type":"exec","z":"9bbc4298.a8a818","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":1282,"y":579.5,"wires":[[],[],[]]},{"id":"a7abb63c.33d068","type":"inject","z":"9bbc4298.a8a818","name":"Dim screen","topic":"","payload":"sudo sh -c \"echo 50 > /sys/class/backlight/rpi_backlight/brightness\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":749,"wires":[[]]},{"id":"7148663c.c15ff","type":"inject","z":"9bbc4298.a8a818","name":"","topic":"","payload":"sort({'_id': -1}).limit(1) ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":211,"y":575,"wires":[["670fe6ac.ff301"]]},{"id":"58a7c9.37be3038","type":"mongodb in","z":"9bbc4298.a8a818","mongodb":"20cc8548.e5d16a","name":"","collection":"config","operation":"find","x":748,"y":580,"wires":[["f91a2576.865b3"]]},{"id":"670fe6ac.ff301","type":"function","z":"9bbc4298.a8a818","name":"","func":"msg.payload= {\"id\":1};\nreturn msg;","outputs":1,"noerr":0,"x":452,"y":577,"wires":[["58a7c9.37be3038"]]},{"id":"610e322b.3a2804","type":"link in","z":"9bbc4298.a8a818","name":"config","links":["d4e2743c.456c1"],"x":97,"y":123,"wires":[["a3d62ded.943f8"]]},{"id":"17c68624.5a7592","type":"function","z":"9bbc4298.a8a818","name":"Update config","func":"var data = msg.payload[0];\nvar from = msg.modification_from;\nvar modifdata = msg.modification_data;\nmsg.query={\"id\":1};\ndata[from]=modifdata;\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":131,"wires":[["d0cfaad.c47a358","3cd07b56.ca333c"]]},{"id":"d0cfaad.c47a358","type":"mongodb out","z":"9bbc4298.a8a818","mongodb":"20cc8548.e5d16a","name":"","collection":"config","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1092,"y":124,"wires":[]},{"id":"66aa1d75.64c874","type":"mongodb in","z":"9bbc4298.a8a818","mongodb":"20cc8548.e5d16a","name":"","collection":"config","operation":"find","x":472,"y":127,"wires":[["17c68624.5a7592"]]},{"id":"a3d62ded.943f8","type":"function","z":"9bbc4298.a8a818","name":"","func":"msg.modification_from= msg.topic;\nmsg.modification_data= msg.payload;\nmsg.payload= {\"id\":1};\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":125,"wires":[["66aa1d75.64c874"]]},{"id":"3cd07b56.ca333c","type":"delay","z":"9bbc4298.a8a818","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":490,"wires":[["670fe6ac.ff301"]]},{"id":"f91a2576.865b3","type":"function","z":"9bbc4298.a8a818","name":"Send commands","func":"var data = msg.payload[0];\nvar backlight_cmd={};\nvar screen_cmd ={} ;\n\nvar screen = \"\";\nscreen = \"echo \";\nscreen += data.screen;\nscreen += \" | sudo tee /sys/class/backlight/rpi_backlight/bl_power\";\n\nvar backlight= \"sudo sh -c | echo \";\nbacklight += data.backlight;\nbacklight += \" > /sys/class/backlight/rpi_backlight/brightness\";\n\nvar backlight= \"echo \";\nbacklight += data.backlight;\nbacklight += \" | sudo tee /sys/class/backlight/rpi_backlight/brightness\";\n\n\nscreen_cmd.payload= screen;\nbacklight_cmd.payload= backlight;\nreturn [screen_cmd,backlight_cmd];","outputs":3,"noerr":0,"x":1026,"y":579,"wires":[["3eb453b7.c5aa64"],["3eb453b7.c5aa64"],[]]},{"id":"359bd93a.bcf7ae","type":"mongodb out","z":"f51f407e.a54408","mongodb":"20cc8548.e5d16a","name":"","collection":"config","payonly":false,"upsert":true,"multi":false,"operation":"update","x":863,"y":150,"wires":[]},{"id":"7239c752.e60728","type":"inject","z":"f51f407e.a54408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":277,"y":154,"wires":[["9a61aa08.d236a","e7d6599f.7b4d7"]]},{"id":"9a61aa08.d236a","type":"function","z":"f51f407e.a54408","name":"Create config table","func":"msg.payload.id=1;\nmsg.payload.screen=0;\nmsg.payload.backlight=255;\nreturn msg;","outputs":1,"noerr":0,"x":557,"y":151,"wires":[["359bd93a.bcf7ae"]]},{"id":"e7d6599f.7b4d7","type":"function","z":"f51f407e.a54408","name":"Create senosr table","func":"msg.payload.id=1;\nmsg.payload.temperature=0;\nmsg.payload.humidity=0;\nmsg.payload.pressure=0;\n\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":253,"wires":[["986f3e36.eef93"]]},{"id":"986f3e36.eef93","type":"mongodb out","z":"f51f407e.a54408","mongodb":"20cc8548.e5d16a","name":"","collection":"sensor","payonly":false,"upsert":true,"multi":false,"operation":"update","x":868,"y":251,"wires":[]},{"id":"c124087a.92184","type":"influxdb in","z":"f51f407e.a54408","influxdb":"dfa2b4c1.3b8bf","name":"","query":"CREATE DATABASE home","rawOutput":false,"precision":"","retentionPolicy":"","x":614,"y":403,"wires":[["d5fdd943.d531b8"]]},{"id":"d5fdd943.d531b8","type":"debug","z":"f51f407e.a54408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":963,"y":387,"wires":[]},{"id":"19b6ae55.19085a","type":"mqtt in","z":"56b3e07b.795c68","name":"","topic":"home/pi/sensor/am2315","qos":"2","broker":"52fe8aba.148c9c","x":275,"y":139,"wires":[["e1edb8f0.6f2de8"]]},{"id":"629be7fd.279f28","type":"debug","z":"56b3e07b.795c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":761,"y":307,"wires":[]},{"id":"3bc12b20.a177ec","type":"inject","z":"56b3e07b.795c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":447,"y":310,"wires":[[]]},{"id":"c8bdb9ca.d7b368","type":"inject","z":"f51f407e.a54408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":257,"y":393,"wires":[["c124087a.92184"]]},{"id":"e1edb8f0.6f2de8","type":"json","z":"56b3e07b.795c68","name":"","property":"payload","action":"","pretty":false,"x":518,"y":138,"wires":[["ac117cd3.1a24b8"]]},{"id":"ac117cd3.1a24b8","type":"influxdb out","z":"56b3e07b.795c68","influxdb":"dfa2b4c1.3b8bf","name":"","measurement":"am2315","precision":"","retentionPolicy":"","x":881,"y":138,"wires":[]},{"id":"9ce326fe.d5345","type":"ui_switch","z":"86cb8c24.96fd2","name":"","label":"PI screen","group":"3a79b0d.2de7f5","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":605,"y":164,"wires":[[]]},{"id":"5f332913.eeab68","type":"mqtt in","z":"6d2129d1.c47218","name":"","topic":"home/message/new","qos":"2","broker":"52fe8aba.148c9c","x":204,"y":152,"wires":[["d0b59718.76e77"]]},{"id":"d0b59718.76e77","type":"json","z":"6d2129d1.c47218","name":"","property":"payload","action":"","pretty":false,"x":420,"y":153,"wires":[["23b242ad.9906c6"]]},{"id":"4ffb55c9.3f245c","type":"debug","z":"6d2129d1.c47218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1551,"y":385,"wires":[]},{"id":"5ccc2b76.fc0074","type":"inject","z":"6d2129d1.c47218","name":"Ask Earthquake","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"60","x":245,"y":351,"wires":[["765035bf.bc744c"]]},{"id":"765035bf.bc744c","type":"mqtt out","z":"6d2129d1.c47218","name":"","topic":"home/message/ask/earthquake","qos":"","retain":"","broker":"52fe8aba.148c9c","x":691.7666015625,"y":349.4666442871094,"wires":[]},{"id":"8c81d87d.1e16c","type":"inject","z":"f51f407e.a54408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":312.76666259765625,"y":587.0166320800781,"wires":[[]]},{"id":"74b17e2c.d50e5","type":"mongodb out","z":"6d2129d1.c47218","mongodb":"20cc8548.e5d16a","name":"","collection":"message","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1593.7666015625,"y":147.5500030517578,"wires":[]},{"id":"ace05f74.2035a8","type":"mongodb in","z":"6d2129d1.c47218","mongodb":"20cc8548.e5d16a","name":"","collection":"message","operation":"find","x":847.7666015625,"y":152.61668395996094,"wires":[["b1021c13.95a5c8"]]},{"id":"23b242ad.9906c6","type":"function","z":"6d2129d1.c47218","name":"Create query","func":"var data= msg.payload;\nmsg.newmessage= msg.payload;\nmsg.payload={\"type\": data['type'],\"id\":data['id']};\nmsg.newmessage.time= new Date().getTime();\nmsg.newmessage.retention= msg.newmessage.retention + new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":595.7666015625,"y":153.75,"wires":[["ace05f74.2035a8"]]},{"id":"b1021c13.95a5c8","type":"function","z":"6d2129d1.c47218","name":"Check if message exist","func":"var result= msg.payload;\nif (result.length === 0){\n    msg.payload=msg.newmessage;\n    return[msg,null];\n}\nreturn [null,msg];","outputs":2,"noerr":0,"x":1160.7666015625,"y":151.75,"wires":[["74b17e2c.d50e5"],[]]},{"id":"78c067b5.b9a4c8","type":"http in","z":"6d2129d1.c47218","name":"","url":"/messages","method":"get","upload":false,"swaggerDoc":"","x":414.36669921875,"y":656.5,"wires":[["93e0440a.be975"]]},{"id":"e6bc1ba9.65a76","type":"http response","z":"6d2129d1.c47218","name":"","statusCode":"","headers":{},"x":1555.36669921875,"y":643.75,"wires":[]},{"id":"c1669132.29d0f","type":"mongodb in","z":"6d2129d1.c47218","mongodb":"20cc8548.e5d16a","name":"","collection":"message","operation":"find","x":1030.75,"y":651.75,"wires":[["793727ea.6506f"]]},{"id":"63b0315d.bed5c8","type":"inject","z":"6d2129d1.c47218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":293.3666687011719,"y":865,"wires":[["f348d9eb.1bba18"]]},{"id":"f348d9eb.1bba18","type":"http request","z":"6d2129d1.c47218","name":"CFF","method":"GET","ret":"txt","url":"https://timetable.search.ch/api/stationboard.json?stop=Cully&show_delays=1&limit=8","tls":"","x":604.36669921875,"y":868.5,"wires":[["4ffb55c9.3f245c"]]},{"id":"93e0440a.be975","type":"function","z":"6d2129d1.c47218","name":"","func":"var now = new Date().getTime();\nmsg.payload={'retention': {$lte:now}};\n\nreturn msg;","outputs":1,"noerr":0,"x":735.36669921875,"y":658,"wires":[["c1669132.29d0f"]]},{"id":"793727ea.6506f","type":"function","z":"6d2129d1.c47218","name":"","func":"\n\n\nvar messages =msg.payload;\n\nvar time= new Date().getTime();\n\nvar i;\nvar smaller = [10000000000000000,0];\nfor (i = 0; i < messages.length; i++) {\n    if (messages[i].last_showed < smaller[0]){\n        smaller[0] = messages[i].last_showed;\n        smaller[1]=i;\n    }\n} \n\nmsg.payload= messages[smaller[1]];\nvar msg2 = {};\nmsg2.query={\"_id\":messages[smaller[1]]._id};\nmsg2.payload= messages[smaller[1]];\nmsg2.payload.last_showed=time;\nmsg2.id=smaller[1];\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":1305.36669921875,"y":653,"wires":[["e6bc1ba9.65a76"],["810ea2e7.1d6d68","4ffb55c9.3f245c"]]},{"id":"810ea2e7.1d6d68","type":"mongodb out","z":"6d2129d1.c47218","mongodb":"20cc8548.e5d16a","name":"","collection":"message","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1612.75,"y":740.75,"wires":[]},{"id":"e20ad1f6.1d10c8","type":"mqtt out","z":"fc7751e1.ba7428","name":"","topic":"home/paper/create","qos":"","retain":"","broker":"52fe8aba.148c9c","x":1432.36669921875,"y":593.25,"wires":[]},{"id":"9acfa7db.da38c8","type":"influxdb in","z":"fc7751e1.ba7428","influxdb":"dfa2b4c1.3b8bf","name":"","query":"SELECT * FROM \"am2315\"   ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":782.36669921875,"y":303.5,"wires":[["3c3758f2.c8d73"]]},{"id":"adbb9077.1800c","type":"inject","z":"fc7751e1.ba7428","name":"Ask paper image creation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330.3666687011719,"y":310,"wires":[["9acfa7db.da38c8"]]},{"id":"dc79585b.6d6528","type":"debug","z":"fc7751e1.ba7428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1438.36669921875,"y":696.25,"wires":[]},{"id":"3c3758f2.c8d73","type":"function","z":"fc7751e1.ba7428","name":"","func":"var influx=msg.payload[0];\nmsg.influx=influx;\nmsg.influx.temperature=influx['temperature'].toFixed(1);\nmsg.influx.humidity=influx['humidity'].toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":927.36669921875,"y":495,"wires":[["56ddde4e.9b72d"]]},{"id":"56ddde4e.9b72d","type":"http request","z":"fc7751e1.ba7428","name":"Ask meteo suisse","method":"GET","ret":"txt","url":"https://www.prevision-meteo.ch/services/json/lutry","tls":"","x":1136.36669921875,"y":503.5,"wires":[["63e474ef.81cc54"]]},{"id":"ee927245.d679a","type":"function","z":"fc7751e1.ba7428","name":"","func":"var out_temp=msg.payload['current_condition']['tmp'];\nvar influx = msg.influx;\ninflux.out_temp= out_temp;\nmsg.payload=influx;\nreturn msg;","outputs":1,"noerr":0,"x":1059.36669921875,"y":598,"wires":[["e20ad1f6.1d10c8","dc79585b.6d6528"]]},{"id":"63e474ef.81cc54","type":"json","z":"fc7751e1.ba7428","name":"","property":"payload","action":"","pretty":false,"x":1343.36669921875,"y":497,"wires":[["ee927245.d679a"]]}]